<?xml version="1.0" encoding="UTF-8" ?>

<properties>
    <!--
        创建的索引表结构
    -->
    <property name="createMapping">
        <![CDATA[{
            "settings": {
                "number_of_shards": 3,
                "index.refresh_interval": "1s"
            },
            "mappings": {
                #[type]: {
                    "properties": {
                        "nameAndCode":{
                             "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword"
                                }
                            }
                        },
                        "nameAndCodeIk":{
                            "type": "text",
                            "analyzer": "ik_max_word"
                        },
                         "nameAndCodeLike":{
                            "type": "text",
                            "analyzer": "standard"
                        },

                        "code":{
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword"
                                }
                            }
                        },
                         "name":{
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword"
                                }
                            }
                        },

                        "price":{
                            "type": "double"
                        }
                    }
                }
            }
        }]]>
    </property>


    <!--
   分页查询 主要给前端使用 空格切分and效果
-->
    <property name="searchPageDatasAnd">
        <![CDATA[{

            "query": {
                "bool": {
                     "must": [
                            {
                                  "match":{
                                   "deleted":0
                                   }
                             }
                             #if($nameAndCodeLike)
                            ,{
                                "match": {
                                    "nameAndCodeLike": {

                                    "query": #[nameAndCodeLike]
                                     }
                                }
                            }
                            #end

                             #if($nameAndCodeIk)
                            ,{
                                "match": {
                                    "nameAndCodeIk": {
                                    "max_expansions": 10,
                                    "query": #[nameAndCodeIk]
                                     }
                                }
                            }
                            #end


                            #if($nameAndCode)
                                   , {"wildcard": {

                                             "nameAndCode.keyword": #[nameAndCode]
                                                     }
                                       }
                            #end
                            #if($state)
                             ,{
                                  "match":{
                                   "state":#[state]
                                   }
                             }
                             #end
                            ]

                          }
            },
            "from":#[from],

            "size":#[size]

           #if($fields)
            ,$fields
            #end

        }]]>
    </property>


</properties>